<h1>Lista de productos</h1>
    {{#if products.length}}
        <ul>
            {{#each products}}
                <li>{{this.title}} - ${{this.price}} - Stock: {{this.stock}}</li>
            {{/each}}
        </ul>
    {{else}}
        <p>No hay productos disponibles.</p>
    {{/if}}
